@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.dashboard,
.scratch,
.projects,
.awards,
.class_information,
.log_out {
  color: black;
  display: flex;
  margin-left: 250px;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}