.menu-bars {
    background-color: #762DBE;
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #762DBE;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
    border-top-right-radius: 60px;
}

.nav-title {
    color: darkgray;
    background-color: #762DBE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 25px;
    list-style: none;
    height: 60px;
}

.nav-label {
    background-color: #762DBE;
}

.nav-text {
    background-color: transparent;
    display: flex-start;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    background-color: transparent;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    width: 110%;
    transition: 850ms;
}

#active.nav-text a {
    margin-left: 15px;
    color: #762DBE;
    fill: #762DBE;
    background-color: whitesmoke !important;
    border-radius: 4px;
    height: 110%;
    width: 110%;
    transition: 850ms;
}

.logo-svg {
    position: relative;
    margin-left: 30px;
    bottom: 20px;
}

#active.nav-text svg {
    color: #762DBE;
    fill: #762DBE;
}

.nav-text a:hover {
    margin-left: 15px;
    color: #762DBE;
    background-color: whitesmoke !important;
    border-radius: 4px;
    height: 110%;
    width: 110%;
}

.nav-text svg:hover {
    color: #762DBE;
}

.nav-menu-items {
    position: relative;
    right: 30px;
    background-color: transparent;
    width: 100%;
}

span {
    margin-left: 16px;
}
